<section class="sliderwrapper">
    <div class="container">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>


                    <!-- SLIDE  -->
                    <li data-transition="boxslide" data-slotamount="7" data-masterspeed="1500" >
                        <!-- MAIN IMAGE -->
                        <!-- LAYERS -->
                        <img src="{{ asset('front/demos/02_slider.png') }}" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption skewfromrightshort customout"
                             data-x="right" data-hoffset="-30"
                             data-y="70"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2500"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 1"><img src="{{ asset('front/demos/grader_hk.jpg') }}" alt="">
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption large_bold_grey skewfromrightshort customout"
                             data-x="78"
                             data-y="170"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">DES NORMES INTERNATIONALES
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption small_thin_grey customin customout"
                             data-x="80"
                             data-y="240"
                             data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 8">À Soudou Design International de la mode, <br/>
                            la Conception Assistée par Ordinateur ( CAO )  est utilisé <br/> pour enseigner les étudiants,
                            a concevoir les trucs les plus fins et les plus sensationnels <br/>
                            qui peuvent être rapidement et plus facilement perçue et jugée<br/>
                            par rapport aux modes traditionnels de création de design.<br/>

                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                        <!-- MAIN IMAGE -->
                        <!-- LAYERS -->
                        <img src="{{ asset('front/demos/02_slider.png') }}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="left" data-hoffset="40"
                             data-y="120"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">HTML5 & CSS3
                        </div>


                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="left" data-hoffset="40"
                             data-y="160"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">RESPONSIVE DESIGN
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="left" data-hoffset="40"
                             data-y="200"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1200"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">40+ VALID PAGE TEMPLATES
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="left" data-hoffset="40"
                             data-y="240"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1400"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">AN AWESOME SLIDER PLUGIN
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="left" data-hoffset="40"
                             data-y="280"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">2 HOME EXAMPLES (BOXED & FULLWIDTH)
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="left" data-hoffset="40"
                             data-y="320"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">10+ CUSTOM PAGE STYLES
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="left" data-hoffset="40"
                             data-y="360"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">LIMITLESS COLOR COMBINATIONS
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="right" data-hoffset="-20"
                             data-y="120"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2200"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">WOOCOMMERCE SUPPORTED
                        </div>


                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="right" data-hoffset="-20"
                             data-y="160"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2400"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">PORTFOLIO STYLE SUPPORTED
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="right" data-hoffset="-20"
                             data-y="200"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">SERVICES SUPPORTED
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="right" data-hoffset="-20"
                             data-y="240"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">CUSTOM BLOG TEMPLATES
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="right" data-hoffset="-20"
                             data-y="280"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">SEO OPTIMIZED
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="right" data-hoffset="-20"
                             data-y="320"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3200"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">EASY TO USE FOR BEGINNERS
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                             data-x="right" data-hoffset="-20"
                             data-y="360"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="3400"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">24/7 SUPPORT VIA EMAIL
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption skewfromrightshort customout"
                             data-x="center"
                             data-y="90"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 9"><img src="{{ asset('front/demos/02_book.png') }}" alt="">
                        </div>
                    </li>
                </ul>


                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div><!-- /container -->
</section><!-- /dmboxtransparent -->