<div class="container">
    <div class="row-fluid">
        <div class="span4 widget">
            <div class="dm-title">
                <h3>A Propos de SDI</h3>
                <span></span>
            </div>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied. Donec id elit non mi porta gravida at eget metus.</p>
            <a class="btn btn-general" href="#">En savoir plus</a>
        </div><!-- /widget -->

        <div class="span4 widget">
            <div class="dm-title">
                <h3>Twitter Stream</h3>
                <span></span>
            </div>
            <ul class="tw-widget">
                <li>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below....<br>
                        <a title="" href="#"><i class="icon-mail-forward"></i> Retweet</a> <a title="" href="#"><i class="icon-twitter"></i> designingmedia</a>
                    </p>
                </li>
                <li>
                    <p>TCicero are also reproduced in their exact original form, accompanied. Donec id elit non mi porta gravida at eget metus.<br>
                        <a title="" href="#"><i class="icon-mail-forward"></i> Retweet</a> <a title="" href="#"><i class="icon-twitter"></i> designingmedia</a>
                    </p>
                </li>
            </ul>
        </div><!-- /widget -->

        <div class="span4 widget">
            <div class="dm-title">
                <h3>Actualites recentes</h3>
                <span></span>
            </div>
            <div class="recent_posts clearfix">
                <ul>
                    <li class="clearfix">
                        <img class="recent-posts-thumb" width="80" alt="Popular Posts" src="{{ asset('front/demos/01_recent.png') }}">
                        <span class="date">01 Jan 2009</span>
                        <span class="title"><a href="#">Custom Recent Post</a></span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque telluse...
                    </li>
                    <li class="clearfix">
                        <img class="recent-posts-thumb" width="80" alt="Popular Posts" src="{{ asset('front/demos/02_recent.png') }}">
                        <span class="date">13 Jan 2009</span>
                        <span class="title"><a href="#">Single Post with Slideshow</a></span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque telluse...
                    </li>
                </ul>
            </div>
        </div><!-- /widget -->
    </div><!-- /row-fluid -->
</div><!-- /dmfooter -->