<div id="pocp1" class="pocp_right">
    <div class="pocp"><!-- BEGIN PANEL CONTAINER -->
        <div class="pocp_content"><!-- BEGIN PANEL INNER CONTENT -->
            <h2>Text Widget</h2>
            <p>This widget uses a different effect when activated. You can choose the position and the behavior of this panel.</p>
            <ul>
                <li>Fusce nunc augue</li>
                <li>Sodales sit amet.</li>
                <li>Venenatis porttitor dui</li>
                <li>Nunc eros ante</li>
            </ul>

            <p>In this panel you can add nested toggle elements to show or hide secondary informations.</p>

            <ul class="pocp_toggle">
                <li>
                    <span class="pocp_toggle_title"><i class="icon-plus"></i>About Us</span>
                    <div class="pocp_panel">
                        <p>Aliquam orci velit, auctor tincidunt erat a, pulvinar tristique magna. Praesent sed sagittis tortor, non imperdiet nulla.</p>
                    </div>
                </li>
                <li>
                    <span class="pocp_toggle_title"><i class="icon-plus"></i>Team</span>
                    <div class="pocp_panel">
                        <p>Nunc nisi lacus, porttitor quis dignissim ac, interdum vel ante. Duis ultricies odio eu.</p>
                    </div>
                </li>
                <li>
                    <span class="pocp_toggle_title"><i class="icon-plus"></i>Levels</span>
                    <div class="pocp_panel pocp_panel_parent">
                        <ul class="pocp_toggle">
                            <li>
                                <span class="pocp_toggle_title"><i class="icon-plus"></i>Level 2</span>
                                <div class="pocp_panel">
                                    <p>Donec vel eleifend urna. Nunc a viverra massa.</p>
                                </div>
                            </li>
                            <li>
                                <span class="pocp_toggle_title"><i class="icon-plus"></i>Level 2</span>
                                <div class="pocp_panel">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span class="pocp_toggle_title"><i class="icon-plus"></i>Portfolio</span>
                    <div class="pocp_panel">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames turpis.</p>
                    </div>
                </li>
            </ul>

            <h2>Styled Elements</h2>
            <p>This item includes many styled elements such as headers, paragraphs, lists, etc.</p>
            <p class="dark">This is a text contained into a <strong>dark</strong> container with a border.</p>
            <p class="brown">This is a text contained into a <strong>brown</strong> container with a border.</p>
            <p class="yellow">This is a text contained into a <strong>yellow</strong> container with a border.</p>
            <p class="red">This is a text contained into a <strong>red</strong> container with a border.</p>
            <p class="blue">This is a text contained into a <strong>blue</strong> container with a border.</p>
            <p class="green">This is a text contained into a <strong>green</strong> container with a border.</p>

            <h2>Video</h2>
            <p>Ut ligula nibh, tincidunt et dolor vitae, bibendum lectus, et tempus lorem lobortis consectetur neque.</p>
            <div class="video_container">
                <iframe src="http://player.vimeo.com/video/32001208?portrait=0&amp;badge=0"></iframe>
            </div>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
        </div><!-- END PANEL INNER CONTENT -->
    </div><!-- END PANEL CONTAINER -->
</div><!-- END PULL OUT CONTENT PANEL -->