<div class="container">
    <div class="row">
        <div class="span6">
            <div class="pull-left">
                <ul class="language">
                    <li><a href="#"><i class="icon-ok"></i> ENG</a></li>
                    <li><a href="#">TR</a></li>
                    <li><a href="#">FR</a></li>
                </ul>
            </div><!-- /language -->
        </div>


    </div>
</div>